<div class="flex items-center mb-3 ml-3 lg:ml-0">
  <%= inline_svg_tag "new-contact", class: "w-12 h-12" %>
  <h1 class="ml-4 text-3xl font-bold text-black">Create New Contact</h1>
</div>
<%= render "form", movie: @movie %>
