<div class="flex items-center mb-3 ml-3 lg:ml-0">
  <%= inline_svg_tag "new-contact.svg", class: "w-12 h-12" %>
  <h1 class="ml-4 text-2xl font-bold text-black lg:text-3xl">Create New Contact</h1>
</div>
<%= render "form", movie: @movie %>
