<nav class="bg-gray-800">
  <div class="container mx-auto">
    <div class="mx-auto max-w-7xl">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-between">
          <div class="flex-shrink-0">
            <img class="block w-auto h-8 lg:hidden" src="https://tailwindui.com/img/logos/workflow-mark-on-dark.svg" alt="Workflow logo">
            <img class="hidden w-auto h-8 lg:block" src="https://tailwindui.com/img/logos/workflow-logo-on-dark.svg" alt="Workflow logo">
          </div>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex">
              <%= link_to "Contacts", contacts_path, class: "#{'bg-gray-900 hover:bg-gray-900' if current_page?(contacts_path)} mr-2 px-3 py-2 text-sm font-medium leading-5 text-gray-300 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
              <%= link_to "Events", events_path, class: "#{'bg-gray-900 hover:bg-gray-900' if current_page?(events_path)} px-3 py-2 text-sm font-medium leading-5 text-gray-300 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block sm:hidden">
      <div class="px-2 pt-1 pb-4 text-center">
        <%= link_to "Contacts", contacts_path, class: "px-3 py-2 mt-1 text-base font-medium text-gray-300 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
        <%= link_to "Events", events_path, class: "px-3 py-2 mt-1 text-base font-medium text-gray-300 transition duration-150 ease-in-out rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
      </div>
    </div>
  </div>
</nav>
